@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lustria&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header));
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #32b9cd;
}

.header .container {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #1D3557;;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}
.navbar_pesquisa{
  background-color: #fff;
  display: flex;
  border-radius: 20px;
align-items: center;
color: white;
height:50%;
width: 30%;
}
.navbar_pesquisa span{
  padding-left: 1%;
display: flex;
justify-content: center;
align-items: center;
height: 80%;
width: 10%;
}
.navbar_pesquisa input{
margin-bottom: 0%;
border: none;
width: 80%;
text-align: left;
outline: none;
}
.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
  padding-right: 5%;
}

.titulo {
  font-size: 400%;
  display: flex;
  align-items: center;
  color: white;
  font-family:"Judson";
  width:auto;
  font-weight: 500;
  padding-left: 5px;
}


.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/fundo_indez.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.banner .container p {
  text-align: center;
  font-size:15rem;
  font-weight: 400;
  width: 60%;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Judson";
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #1D3557;
}
.banner .container h2 {
  text-align: center;
  width: 40%;
  font-size: 2.5rem;
  font-family: Judson;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 150%;
}

.social .container .boxes {
  display: flex;
  justify-content:space-around ;
  width: 100%;
  padding: 30px 0;
  height: 100vh;
  background-color:#F1FAEE;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
}
.box h4{
font-size: 1rem;
}
.Eventos{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between	;
  align-items: center;
}
.div_img_even {
  display: flex;
  justify-content: flex-end; 
}

.div_img_even img{
  width: 80%;
}
.perto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}
.titulo_eventos{
padding-left: 5%;
  text-align: center;
  width: 100%;
  color: #000;
font-family: Notable;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.texto_eventos{
  padding: 5%;
  border-radius: 40px;
border: 5px solid #1D3557;
background: rgba(217, 217, 217, 0.00);
  width: 85%;
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.divulgacao{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1FAEE;
}
.titulo_divulg{
  padding-top: 1%;
  text-align: center;
  width: 100%;
  color: #000;
font-family: Notable;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 30%;
}
.pt_baixo_divulg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top:1%;
  height: 70%;
}
.img_divulg{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.img_divulg img{
  height:80%;
}
.texto_divulg{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}
.dentro_texto_divulg{
  padding: 5%;
  border-radius: 40px;
border: 5px solid #1D3557;
background: rgba(217, 217, 217, 0.00);
  width: 85%;
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Missionario{
height: 100vh;
width: 100%;
background-color: #fff;
display: flex;
flex-direction: row;
}
.textos_miss{
  width: 50%;
  padding: 3%;
}
.titulo_miss{
  padding-top: 1%;
  text-align: center;
  width: 100%;
  color: #000;
font-family: Notable;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 50%;
}
.texto_dentro_miss{
padding: 5%;
  border-radius: 40px;
border: 5px solid #1D3557;
background: rgba(217, 217, 217, 0.00);
  width: 85%;
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img_miss{
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}






/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15%;
  padding-top: 5%;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 4vh;
  color: #fff;
  background-color: #32b9cd;
  width: 90%;
  height: 10%;
  align-self: center;
  margin-top: 20%;

}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

.bannerLoginCad {
  height: var(--tamanho-banner);
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.div_login{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 40%;
height: 100%;
background-color: #1D3557;
}
.div_fundo{
  width: 70%;
  overflow:hidden;
  background-image: url(../assets/imgs/fundo_login.png);
   background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
  display: flex;
  padding: 2%;
  align-items: flex-end;
  justify-content: left;
  border-left: white 1px solid;
  position: relative;
}
.versiculo_class{
  color: #000;
margin-left:3%;
  width: 40%;
  font-size: 5vh;
 height: auto;
border: black solid 5px;
background-color: Rgba(217, 217, 217, 0.49);
border-radius: 10px;
padding: 2%;
}
.div_jesus_cima{
  height: 100vh;
  position: absolute;
  height: 105%;
    right: 2.5%;
    bottom: 0;
}
.div_jesus_cima img{
  width: auto;
  height: 110%;
}
.texto_cima_login{
  padding-top: 5%;
font-size: 8vh;
}
.texto_cima_cad{
  padding-top: 1.5%;
font-size: 6vh;
}
.div_escolha_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 10%;

}
.botao_esolha{
padding: 5%;
height: 7.5%;
border: black solid 2px;
width: 70%;
background: #D9D9D9;
display: flex;
justify-content: center;
align-items: center;
border-radius: 40PX;
cursor: pointer;
}
.texto_igreja{
  color: #1A262C;
text-align: center;
font-family: Judson;
font-size: 10vh;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
}
.botao_esolha div img{
width: 100%;
height: auto;
}
.meio_bt_escolha{
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 8vh;
font-style: normal;
font-weight: 568;
line-height: normal;
text-transform: uppercase;
}
.div_cad_igreja{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  width: 100%;
}
.div_cad_igreja fieldset legend {
  font-size: 3vh;
}
.div_cad_igreja fieldset input {
  font-size: 2vh;
}
.div_cad_usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  width: 100%;
}
.div_cad_usuario fieldset legend {
  font-size: 3vh;
}
.div_cad_usuario fieldset input {
  font-size: 2vh;
}

.div_login_igreja{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  width: 100%;
    transform: translateY(-500px);
}
.div_login_usuario{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  width: 100%;
  transform: translateY(-500px);
}

.adicionar_anima{
    animation: animado 2s ease-in-out forwards;
}


@keyframes animado {
  0%{transform: translateY(500px);
    opacity:0
  }

  100%{transform: translateX(0px);
  opacity:1
  }
}


fieldset{
  padding: 0;
width:auto;
}
.div_fildeset_2 fieldset{
  padding: 0;
width:auto;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
fieldset legend{
  font-size: 5vh;
  margin-left: 5%;
  font-weight: 500;
}
fieldset input{
  background-color:transparent;
  border: 0;
  text-align: left;
  width: 93%;
  color: #D9D9D9;
  font-size: 3vh;
}
fieldset input:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.div_fildeset{
  width: 90%;
}
#botao_login{
  margin-top: 5%;
  width: 80%;
 height: 10%;
  background-color: #32b9cd;
  font-size: 5vh;
  text-align: center;
  border-radius:30px ;
  font-weight: 700;
}
.inpt_dt{
width: 30%;
}
.select_cat{
 height: 40%
}
.div_fildeset_2{
  width: 33%;
}
.inpt_dt_hr{
  width: 80%;
}
